body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #473e3e;
    opacity: 1;
}

.modal-pop {
    background-color: #473e3e;
    color: #fafafa;
    z-index: 350;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
}

.modal-pop input {
    color: black;
}